body{
    background: #929191;
}

nav ul{
    list-style: none;
    display: flex;
}
header{
    border: solid 1px #000;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #0000ff;
    font-size:20px;
    border-right: 1px solid #000;
    padding-right: 20px;
}

footer{
    border-top: 1px solid #000000;
    text-align: center;
}

.wrapper{
    border:1px solid #000;
    padding: 10px;
    margin: 10px auto;
}
.post-content .image-wrapper{
    text-align: center;

}
.post-content .image-wrapper img{
    width: 500px;
}

.post-content .price{
    color: #ff0000;
    font-weight: 800;
    font-size: 25px;
}

.post-content .details{
    background: #ffffff;
    padding: 10px;
}

header .sliding-part{
    background: #ff0000;
    color: #fff;
    font-weight: 500;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.post-content .years{
    color: #301ce2;
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
}
.box{
    border:2px #000 solid;
    width: 200px;
    margin:5px;
    
}
.box img{
    width: 200px;
}
a .edit-ad {
    text-decoration: none;
    color: rgb(228, 96, 8);
    border: 1px black solid;
    display: inline;
    padding: 5px 4px;
    background-color: azure;
    text-decoration: none;
}
.box_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.pageLink {
    display: inline-block;
    margin: 5px auto;
}

.paginator {
    text-align: center;
}

.comment{
    border: 1px solid;
    background-color: #ecd0d0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comment_user{
    text-transform:capitalize;
    font-weight: bold;
}

.comment_date{
    font-style: italic;
    font-size: 10pt;
    margin-left: 5pt;
}

.comment_content{
    background-color: #3b2b2b;
    padding: 10px;
    flex-basis: 100%;
    color:#fff;
}

.comment_content:first-letter{
    text-transform:capitalize;
}

.message-box{
    border: 1px solid #888888;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    width: 70%;
}
.my{
    background: #ffa600;
    margin-left: auto;
}

.him{
    background: blanchedalmond;
}
.chat-box textarea{
    width: 100%;
}

.btn.submit{
    background: #348107;
    border: 0;
    border-radius: 0;
}

.last-message-body.bolt{
    font-weight: bold;
}

.logo{
    width: 25px;
    height: 30px;
}
